In [10]:
a="my name is yogeswar"
print(a[0:7])
print(a[:])
print(a[0:10])
print(a[0:])
print(a[0])
print(a[18])
print(a[1:17])

my name
my name is yogeswar
my name is
my name is yogeswar
m
r
y name is yogesw

In [26]:
a="my name is yogeswar"
#print lenght of string
print(len(a))
#print all the string
print(a[0:19])
#access the middle term
print(a[len(a)//2])
#reverse the string
print(a[::-1])
#alternate terms
print(a[::2])
#access the last term
print(a[-1])
#acess the second last term
print(a[-2])
#print all terms except first and last term
print(a[1:-1])

19
my name is yogeswar
s
rawsegoy si eman ym
m aei oewr
r
a
y name is yogeswa

In [34]:
a="PythoN is a PrograMming language"
#print in lower casing
print(a.lower())
#print in upper casing
print(a.upper())
#join
print(".".join(a))
#split
print(a.split())
#replace
print(a.replace("P","s"))

python is a programming language
PYTHON IS A PROGRAMMING LANGUAGE
P.y.t.h.o.N. .i.s. .a. .P.r.o.g.r.a.M.m.i.n.g. .l.a.n.g.u.a.g.e
['PythoN', 'is', 'a', 'PrograMming', 'language']
sythoN is a srograMming language

In [41]:
#list
a=[1,2,4,56,85,95,75]
print(a)
print(a[4])
print(len(a))
print(a.insert(100,45))
print(a)
print(a[:])

[1, 2, 4, 56, 85, 95, 75]
85
7
None
[1, 2, 4, 56, 85, 95, 75, 45]
[1, 2, 4, 56, 85, 95, 75, 45]

In [50]:
#tuple
a=(1,0,5,7,8,10)
print(a)
print(len(a))
print(a[4])
print(a[0:6])
print(a[-1])
print(a[0:-1])
print(a[1:-1])

(1, 0, 5, 7, 8, 10)
6
8
(1, 0, 5, 7, 8, 10)
10
(1, 0, 5, 7, 8)
(0, 5, 7, 8)

In [52]:
#dictionary
a={1:"a",2:"r",3:"t",4:"e"}
print(a)
print(a[3])

{1: 'a', 2: 'r', 3: 't', 4: 'e'}
t

In [53]:
str='Hello@John!!'
print(str.lower())

hello@john!!

In [56]:
list1= [2445,133,12454,123]
print(max(list1))

12454